/* Adicionar aqui toda a estilização criada para sua aplicação. */

* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid aquamarine;
    width: 100%;
}

.header .container{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.titulo {
    color: aquamarine;
    font-size: 20px;
    margin-left: 50px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-right: 200px;
    color: rgb(152, 123, 84);

}

.navbar li a {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    color: rgb(152, 123, 84);
    font-size: 12px;
}

.header .container .navbar .agora {
    font-weight: bolder;
}

.banner {
    background-image: url(/public/assets/imgs/bg-jelly-fish-para-home.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container {
    display: flex;
    text-align: center;
    display: block;
}

.banner .container .p-banner {
    font-size: 40px;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    text-align: start;
    margin-left: -200px;
}

.banner .container span {
    font-weight: bolder;
}

.social img {
    width: 50px;
}

.social {
    padding: 50px 0;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.box {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.box h4 {
    color: rgb(197, 35, 35);
    margin: 15px 0;
    font-size: 24px;
}

.footer {
    background-color: aquamarine;
}

.footer .container {
    text-align: center;
    padding: 20px;
    color: white;
}